.heatmapLegend {
    width: 120px;
    padding: 2px;
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.75);
    line-height: 1em;
    font-size: 13px;
    overflow: hidden;    
	border-radius: 5px;
}
heatmapLegendMin {
  float: left;
  margin: 0;
  padding: 0;
  max-width: 50px;
  overflow: hidden;  
}
#heatmapLegendMax {
  float: right;
  margin: 0;
  padding: 0;
  max-width: 150px;
  overflow: hidden;    
}
.heatmapLegendGradient {
  width: 100%;
}

#heatmapLegendTitle {
	font-size: 14px;
	line-height: 1.8;
	font-weight: bold;
}