@{
    ViewBag.Title = "Calculator";
    Layout = "~/Views/Shared/_Themeforest.cshtml";
}




<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" id="capture">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left:200px;padding-top:0px;padding-bottom:0px;height:87vh;">
       
        @Html.Partial("PipelineMap")

    </div>
</div>
<!-- END CONTENT -->
